<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlinks}}
</head>
<body>
    {{>navbar}}

     <!-- main-header -->
     <div class="container-fluid main_header">
        <div class="row">
             <div class="col-md-10 col-12 mx-auto">
               <div class="row">

                <!-- left side div  -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                       <img src="images/man_image" alt="Hamza" class="img-fluid" title="Hamza Shaikh">
                    </figure>
                 </div>

                 <!-- right side div  -->
                  <div class="col-md-6 col-12 main_header_left">
                    <p> Welcome to weather app</p>
                    <h1>I Am A <span class="text_color">Mern Stack Developer</span> Car Enthusiast & traveller</h1>
                    <a href="/weather"><button>Check Now</button></a>
                  </div>
                  
               </div>
            </div>
        </div>
     </div>

     <!-- footer Code here  -->
        {{>footer}}
    </body>
</html>
